@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
	margin: 0;
	padding; 0;
}

body {
	width: 100%;
	height: 100%;
}

a {
	color: #ff0000;
	text-decoration: none;
}

header {
	height: 40px;
    width: 100%;
    background: #282525;
	margin-top: 4px;
}

kkklog>div#logo>img {
	display: block;
	margin: auto;
	margin-top: 4px;
	height: 50%;
    width: 50%;
}

#osnova {
	float: left:
	color: #ffffff;
}

#osnova {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	padding-top: 5px;
}

#osnova>a {
	color: #ffffff;
}

#osnova>a:last-child {
	margin-left: 60px;
}

#osnova>a:hover {
	color: #ff0000;
}

nav {
	height: 100%;
    width: 100%;
    background: #282525;
	border-top: 4px solid #A9A9A9;
	border-bottom: 4px solid #A9A9A9;
}

nav>div#navigation>a {
	margin-left: 10%;
	color: #ffffff;
}

#navigation {
	text-align: center;
	font-size: 1.4em;
	font-family: 'Source Sans Pro', sans-serif;
}

nav>div#navigation>a:hover {
	color: #ff0000;
}

dogm>div#izodogm>img {
	display: block;
	margin: auto;
	margin-top: 4px;
	height: 40%;
    width: 40%;
	margin-top: 10px;
}

#txtdogm {
	color:#091c6b;
	text-align: center;
	font-family: 'Russo One', sans-serif;
	font-size: 2em;
	padding-top: 5px;
}
